<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Survey Form" content="Survey Form Assignment for coding dojo.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Survey Form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-dark"  style="background-color: #ff7c00;">
                <li class="nav-item five">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </nav>
            <main>
                <form class="" action="/quotes" method="post">
                    <div class="form-group row">
                        <div class="col">
                    <h1>Welcome to Quoting Dojo</h1>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="username">Your name: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="quote">Your quote: </label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" id="quote" name="quote" placeholder="Quoting with you...." rows="8" cols="40"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group three">
                            <button type="submit" class="btn btn-success btn-lg">Add my quote!</button>
                            <a href="/quotes" class="btn btn-info btn-lg">Skip to quotes!</a>
                        </div>
                    </div>
                <% if(messages.formError){ %>
                    <% for(let index of messages.formError) { %>
                    <div class="row">
                        <div class="col-md-4">
                            <p><%= index %></p>
                        </div>
                    </div>
                    <% } %>
                <% } %>
                    </div>
                </form>
            </main>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
