.one{height: 15em; width: 20em; margin-left: 1em; border-radius: 5em;}
.two{display: inline;}
.three{padding-left: 4em;}
.four{margin-left: 6em;}
.five{list-style-type: none;}
.six{margin-left: 2em;}
